<div class='tw-relative tw-overflow-x-auto tw-shadow-md sm:tw-rounded-lg'>
  <div class='tw-flex tw-justify-between tw-p-2'>
    <div class='tw-flex tw-items-center tw-justify-between tw-pb-4'>
      <label for='table-search' class='tw-sr-only'>Search</label>
      <div class='tw-relative'>
        <div class='tw-absolute tw-inset-y-0 tw-left-0 tw-flex tw-items-center tw-pl-3 tw-pointer-events-none'>
          <svg class='tw-w-5 tw-h-5 tw-text-gray-500' aria-hidden='true' fill='currentColor'
               viewBox='0 0 20 20'
               xmlns='http://www.w3.org/2000/svg'>
            <path fill-rule='evenodd'
                  d='M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z'
                  clip-rule='evenodd'></path>
          </svg>
        </div>
        <input type='text' id='table-search'
               class='tw-block tw-p-2 tw-pl-10 tw-text-sm tw-text-gray-900 tw-border tw-border-gray-300 tw-rounded-lg tw-w-80 tw-bg-gray-50 focus:tw-ring-blue-500 focus:tw-border-blue-500'
               placeholder='Search for items'>
      </div>
    </div>
    <div class='tw-flex tw-justify-between'>
      <button type='button'
              class='tw-text-red-600 hover:tw-underline focus:tw-outline-none focus:tw-ring-[#3b5998]/50 tw-font-medium tw-rounded-lg tw-text-sm tw-px-5 tw-py-2.5 tw-text-center tw-inline-flex tw-items-center dark:focus:tw-ring-[#3b5998]/55 tw-mr-2 tw-mb-2'>
        <svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor'
             class='tw-w-6 tw-h-6 tw-mr-2'>
          <path stroke-linecap='round' stroke-linejoin='round'
                d='M15 13.5H9m4.06-7.19l-2.12-2.12a1.5 1.5 0 00-1.061-.44H4.5A2.25 2.25 0 002.25 6v12a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18V9a2.25 2.25 0 00-2.25-2.25h-5.379a1.5 1.5 0 01-1.06-.44z'/>
        </svg>
        Delete selected resources
      </button>
      <button type='button'
              class='tw-text-white tw-bg-[#3b5998] hover:tw-bg-[#3b5998]/90 focus:tw-ring-4 focus:tw-outline-none focus:tw-ring-[#3b5998]/50 tw-font-medium tw-rounded-lg tw-text-sm tw-px-5 tw-py-2.5 tw-text-center tw-inline-flex tw-items-center dark:focus:tw-ring-[#3b5998]/55 tw-mr-2 tw-mb-2'>
        <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='currentColor' class='tw-w-4 tw-h-4 tw-mr-2'>
          <path fill-rule='evenodd'
                d='M19.5 21a3 3 0 003-3V9a3 3 0 00-3-3h-5.379a.75.75 0 01-.53-.22L11.47 3.66A2.25 2.25 0 009.879 3H4.5a3 3 0 00-3 3v12a3 3 0 003 3h15zm-6.75-10.5a.75.75 0 00-1.5 0v2.25H9a.75.75 0 000 1.5h2.25v2.25a.75.75 0 001.5 0v-2.25H15a.75.75 0 000-1.5h-2.25V10.5z'
                clip-rule='evenodd'/>
        </svg>
        Adding new resource
      </button>
    </div>
  </div>
  <table class='tw-w-full tw-text-sm tw-text-left tw-text-gray-500'>
    <thead class='tw-text-xs tw-text-gray-700 tw-uppercase tw-bg-gray-50'>
    <tr>
      <th scope='col' class='tw-p-4'>
        <div class='tw-flex tw-items-center'>
          <input id='checkbox-all-search' type='checkbox'
                 class='tw-w-4 tw-h-4 tw-text-blue-600 tw-bg-gray-100 tw-border-gray-300 tw-rounded focus:tw-ring-blue-500 focus:tw-ring-2'>
          <label for='checkbox-all-search' class='tw-sr-only'>checkbox</label>
        </div>
      </th>
      <th scope='col' class='tw-px-6 tw-py-3'>
        Product name
      </th>
      <th scope='col' class='tw-px-6 tw-py-3'>
        Color
      </th>
      <th scope='col' class='tw-px-6 tw-py-3'>
        Category
      </th>
      <th scope='col' class='tw-px-6 tw-py-3'>
        Price
      </th>
      <th scope='col' class='tw-px-6 tw-py-3'>
        Action
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor='let i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]' class='tw-bg-white tw-border-b hover:tw-bg-gray-50'>
      <td class='tw-w-4 tw-p-4'>
        <div class='tw-flex tw-items-center'>
          <input id='checkbox-table-search-1' type='checkbox'
                 class='tw-w-4 tw-h-4 tw-text-blue-600 tw-bg-gray-100 tw-border-gray-300 tw-rounded focus:tw-ring-blue-500 focus:tw-ring-2'>
          <label for='checkbox-table-search-1' class='tw-sr-only'>checkbox</label>
        </div>
      </td>
      <th scope='row' class='tw-px-6 tw-py-4 tw-font-medium tw-text-gray-900 tw-whitespace-nowrap'>
        Apple MacBook Pro 17"
      </th>
      <td class='tw-px-6 tw-py-4'>
        Silver
      </td>
      <td class='tw-px-6 tw-py-4'>
        Laptop
      </td>
      <td class='tw-px-6 tw-py-4'>
        $2999
      </td>
      <td class='tw-px-6 tw-py-4 tw-flex tw-items-end'>
        <svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor'
             class='tw-w-6 tw-h-6 clickable'>
          <path stroke-linecap='round' stroke-linejoin='round'
                d='M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10'/>
        </svg>
        <p class='clickable tw-ml-2 tw-font-medium tw-text-blue-600 hover:tw-underline'>Edit</p>
      </td>
    </tr>
    </tbody>
  </table>
</div>
